---
interface Props{
  title: string
  poster: string
  paragraphs: string[]
}

const {title, poster, paragraphs} = Astro.props 
---

<article class="my-14">
  <h4 class="mb-8 text-3xl text-gray-300 font-semibold" >{title}</h4>
  <img class="w-full h-auto" src={poster} alt={title}>
  {
    paragraphs.map( paragraph => {
      return <p class="text-xl text-gray-400 my-4">{paragraph}</p>
    })
  }
</article>

<style>
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to{
      opacity: 1;
      scale: 100%;
    }
  }
  img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 70%;
    animation-fill-mode: both;
  }
</style>