---
interface Props{
  title: string
  poster: string
  paragraphs: string[]
}

const {title, poster, paragraphs} = Astro.props 
---

<article class="my-8">
  <h4 class="mb-8 text-3xl text-gray-300 font-semibold" >{title}</h4>
  <img src={poster} alt={title}>
  {
    paragraphs.map( paragraph => {
      return <p class="text-xl text-gray-400 my-4">{paragraph}</p>
    })
  }
</article>

<style>
  article{

  }
</style>